<!-- <app-parent>
    
</app-parent> -->
<!-- <br> -->
 <app-adduser></app-adduser>
 
<div *ngFor = "let user of users">
    <div>{{user.name}}</div>
    <div>{{user.status}}</div>
</div>
<!-- <app-child></app-child> -->

<!-- <h1>Component</h1> -->





<!-- <h1>Name</h1>

<input type="text" [(ngModel)]="naam">

<h1>Grade</h1>
<input type="text" [(ngModel)]="grade"><br>
<button (click)="submit()">Add Student</button>
<div *ngIf="naam === '' ">
    <h1>Student List is Empty !!</h1>
</div>
 <div *ngIf="naam !== '' ">
    <div *ngSwitch="grade">
        <p *ngSwitchCase="'A'">
                <h1>sdfghjkl</h1>
        </p>
    </div>
    <ul>
        <li *ngFor="let student of studentlist" >
                    {{student}}
        </li>
        
    </ul>
</div> -->




<!-- <h1>Name:</h1>
<input #name [(ngModel)]="naam" type="text"/>
<h1>Subject:</h1>
<input #name [(ngModel)]="subject" type="text"/>
<h1>marks1:</h1>
<input #name [(ngModel)]="marks1" type="text"/>
<h1>marks2:</h1>
<input #name [(ngModel)]="marks2" type="text"/>
<br> <br>
<button (click)="onTotal()">Submit</button>
<p>Hello {{naam}}! Your marks in {{subject}} is {{total}}.</p>

<router-outlet/>

<h1>Counter</h1>

<button (click)="increase()" className="button">INCREASE</button>
<button (click)="decrease()" className="button" >DECREASE</button>
<button (click)="reset()" className="button" >RESET</button>
<h1>{{num}}</h1> -->

